annotated-types
anyio
certifi
click
dnspython
email-validator
fastapi
h11
httpcore
httptools
httpx
idna
Jinja2
markdown-it-py
MarkupSafe
mdurl
packaging
pathspec
platformdirs
pydantic
pydantic-core
Pygments
pymongo
python-dotenv
python-multipart
PyYAML
rich
rich-toolkit
rignore
sentry-sdk
shellingham
sniffio
starlette
typer
typing-inspection
typing-extensions
urllib3
uvicorn
uvloop
watchfiles
websockets
